Droid_PeopleWithParkinsons/obj
*.v12.suo
*.user
*.userprefs
*.apk
*.dll
Droid_Dysfluency/bin
Droid_Dysfluency/obj
Droid_PeopleWithParkinsons/bin/Debug
Droid_PeopleWithParkinsons/bin/Release
SpeechingShared/bin/
SpeechingShared/obj/Debug
SpeechingShared/ConfidentialData.cs