Droid_PeopleWithParkinsons/obj
*.v12.suo
*.user
*.userprefs
*.apk
*.dll
Droid_PeopleWithParkinsons/Bin/Debug
Droid_PeopleWithParkinsons/Bin/Release
SpeechingCommon/Bin/Debug
SpeechingCommon/Obj/Debug
SpeechingCommon/Bin/Release
SpeechingCommon/ConfidentialData.cs