Droid_PeopleWithParkinsons/obj
*.v12.suo
*.user
*.userprefs
*.apk
*.dll
Droid_PeopleWithParkinsons/Bin/Debug
Droid_PeopleWithParkinsons/Bin/Release
SpeechingShared/Bin/Debug
SpeechingShared/Obj/Debug
SpeechingShared/Bin/Release
SpeechingShared/ConfidentialData.cs