<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.speeching" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="21" />
	<application android:label="Speeching" android:icon="@drawable/Icon" android:theme="@style/Theme.Speechingred">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBXoVf1iS7ELJXzp-TL8aty9rHqZc2ssVM" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<receiver android:name="droidspeeching.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="droidspeeching.gcm" />
			</intent-filter>
		</receiver>
		<service android:name="droidspeeching.GcmIntentService" />
		<receiver android:name="droidspeeching.GeofencingReceiver" android:exported="true" />
		<service android:name="droidspeeching.GeofencingService" android:exported="true" />
	</application>
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:name="com.speeching.gcm.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.speeching.gcm.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.speeching.permission.MAPS_RECEIVE" />
	<uses-permission android:name="com.speeching.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>