<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable" version="2.4.0" targetFramework="MonoAndroid50" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="MonoAndroid50" />
  <package id="OxyPlot.Core" version="2014.1.546" targetFramework="MonoAndroid50" />
</packages>